---
// CookieAlert.astro
---
<div
	id="cookie-alert"
	class="fixed bottom-0 left-0 z-50 hidden w-full bg-neutral-50 text-neutral-700 dark:bg-secondary-800 dark:text-white shadow-lg"
	role="alert"
	aria-live="polite"
>
	<div
		class="mx-auto flex max-w-7xl flex-col gap-4 p-4 md:flex-row md:items-center md:justify-between"
	>
		<p class="text-sm leading-relaxed md:text-base">
			Este sitio web utiliza cookies para proporcionar las funciones del sitio necesarias y mejorar
			su experiencia. Al utilizar este sitio web, acepta nuestro uso de cookies.
		</p>
		<div class="flex flex-shrink-0 items-center justify-center gap-4 md:justify-end">
			<button
				id="accept-cookies"
				class="rounded bg-primary-600 px-6 py-2 text-sm text-white transition-colors duration-200 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
				aria-label="Aceptar cookies"
			>
				Aceptar
			</button>
			<a
				href="/cookie-policy"
				class="rounded bg-secondary-600 px-6 py-2 text-sm text-white transition-colors duration-200 hover:bg-secondary-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
				aria-label="Leer más sobre nuestra política de cookies"
			>
				Saber más
			</a>
		</div>
	</div>
</div>
